body
{
	background-color:black;
	color: #18B14C;
	font-family: 'Courier New', monospace;
}

img{
	border:none;
}

a{
	text-decoration: none;
	color: white;
}

form{
	display: inline;
}

table{
	width: 100%;
}

h2{
	border-bottom: 3px dotted #18B14C;
	padding: 10px;
	text-align: center;
}

table.maintable{
	width: 800px;
	border-spacing: 10px;
}

table.maintable tr.header{
	
}

table.maintable tr.header h1{
	text-align:center;
	font-weight:bold;
	border-bottom: 3px solid #18B14C;
	padding: 10px;
	font-size:50;
}

table.data td{
	border-bottom: #18B14C dotted 1px;
	padding: 5px;
	font-size:12;
}

table.data tr.theading{
	text-align:center;
}

input { 
	color:#18B14C; 
	font-family: 'Courier New', monospace;
	font-weight: bold;
	font-size:16;
	background-color:#1F1F1F; 
	border:3px solid; 
	border-color: #696 #363 #363 #696; 
} 